{% extends "base.html" %}

{% block content %}
<h1>Daily Expenses</h1>

<p><strong>Total Saved:</strong> ${{ total_saved }}</p>

<form method="post" style="margin-bottom: 20px;">
  <label>
    Date:
    <input type="date" name="date" required>
  </label>

  <label>
    Amount:
    <input type="number" step="0.01" min="0" name="amount" required>
  </label>

  <label>
    Type:
    <select name="txn_type">
      <option value="save">Savings</option>
      <option value="spend">Spending</option>
    </select>
  </label>

  <label>
    Category:
    <select name="category">
      <option>Food</option>
      <option>Transport</option>
      <option>Entertainment</option>
      <option>Other</option>
    </select>
  </label>

  <button type="submit">Add</button>
</form>



<hr>

<h3>Transactions</h3>

{% if transactions %}
<ul>
  {% for t in transactions %}
    <li class="{{ 'saving' if t.amount > 0 else 'spending' }}">
      {{ t.date }} —
      {{ t.category }} —
      {{ "Saved" if t.amount > 0 else "Spent" }}
      ${{ t.amount | abs }}
    </li>
  {% endfor %}
</ul>

{% else %}
  <p>No transactions yet.</p>
{% endif %}

{% endblock %}
